body, html {
  margin:0;
}

body,
html,
.wealth-wrapper-outer
.wealth-row {
  min-height: 100%;
}
.title-screen {
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 0.9;
  width: 100%;
  margin-top: 250px;
}

h3 {
  position: static;
  width: 100vw;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 2000px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.scroll-this-way {
    align-self: flex-end;
    width: 400px;
    height: 180px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 42px;
    padding-left: 48px;
  
    font-size: 30px;
    color: #bbff00;
  
    background-image: url(img/right.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 140px 80px;
  
    animation-name: bouncy-arrow; 
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 2s;
  }
.about-this {
  position: absolute;
  color: #00000050;
  bottom: 25px;
  left: 50%;
  font-size: 12px;
  display: block;
  font-style: italic;
  transform: translate(-50%, 0);
}
@media (max-width: 450px) {
    .scroll-this-way {
      right: -35vw;
    }
  }
  @keyframes bouncy-arrow {
    0% {background-position: 120px 80px;}
    25% {background-position: 120px 80px;}
    50% {background-position: 160px 80px;}
    75% {background-position: 160px 80px;}
    100% {background-position: 120px 80px;}
    125% {background-position: 120px 80px;}
  }
.wealth-wrapper-outer {
  font-family: sans-serif;
  overflow: visible;
  display: inline-block;
}
.center-sticky {
  position: sticky;
  left: 50%;
  transform: translate(-50%, 0);
}
.navigation {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
.navigation .button {
  color: rgba(0,0,0,0);
  width: 20px;
  display: block;
  height: 20px;
  border-radius: 100%;
  background-position: 5px;
  background-color: #d8d8d8;
  box-shadow: inset 1px 6px 12px #e2e2e2, inset -1px -10px 5px #a9a9a9, 1px 2px 1px #797979;
  overflow: hidden;
  margin: 4px;
}
.navigation .button-inner {
  background-repeat: no-repeat;
  background-size: 8px;
  height: 100%;
  background-position: 5px;
}
.navigation .prev-button .button-inner {
  background-image: url(img/prev.svg);
}
.navigation .next-button .button-inner {
  background-image: url(img/next.svg);
  background-position: 7px 5px;
}
.navigation .home-button .button-inner {
  background-image: url(img/house.svg);
  background-size: 12px;
  background-position: 4px 4px;
}
.navigation .about-button .button-inner {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  text-indent: 5px;
  line-height: 22px;
}
.wealth-row {
  display: inline-flex;
}
.arrow {
  margin-left: -6px;
  margin-top: 5px;
}
.wealth-wrapper {
  margin: 1em 3em;
}
.wealth {
  background-color: black;
  align-items: center;
  display: flex;
}
.title {
  margin-bottom: 5px;
}
.billion .wealth > .wealth-title {
  flex-basis: 130px;
  position: static;
}
.four-hundred .wealth > .wealth-title {
  flex-basis: 420px;
}
.four-hundred .intro {
  margin-left: 0;
  position: relative;
  width: auto;
}
.wealth > .wealth-title {
  flex-basis: 1%;
  padding: 10px;
}
@media (max-width: 450px) {
  .wealth-title {
    font-size: 19px;
  }
}
.wealth-title {
  align-self: flex-start;
  position: sticky;
  left: 0;
  margin-bottom: 5px;
  color: black;
  margin-top: 0;
}
.text-infobox .title,
.infobox .chart {
  max-width: 450px;
}
.infobox .chart img {
  max-width: 100%;
}
.infobox .chart,
.infobox .title-square-wrapper,
.infobox .title {
  font-weight: normal;
  line-height: 1.4;
  width: 60vw;
  max-width: 420px;
}
@media (max-width: 450px) {
  .infobox .midtext,
  .infobox .title {
    width: 90vw;
  }
}
.infobox.year-veteran .title {
  position: sticky;
  left: 0;
}
.infobox .chart,
.infobox .piechart,
.infobox .worldchart,
.infobox .chart-outer,
.infobox .midtext,
.infobox .title-square-wrapper,
.text-infobox .title {
  position: sticky;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 450px) {
  .infobox.line-chart .chart-outer {
    left: 5px;
    width: 98vw;
  }
  .infobox .square,
  .infobox .title-square-wrapper,
  .infobox .piechart,
  .infobox .chart-outer,
  .infobox .midtext,
  .infobox .title {
    left: 10px;
    transform: none;
  }
}
.sub-infobox .square,
.sub-infobox .midtext,
.sub-infobox .title {
  position: static;
}
.infobox {
  z-index: 1;
  margin-left: 6000px;
  width: 12000px;
}
.four-hundred .infobox {
  width: 4000px;
}
.flex {
  display: flex;
}
.infobox.first {
  margin-left: 5000px;
}
.infobox.first .title {
  max-width: 300px;
}
.infobox.coming-up .title,
.infobox.five-pixels .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 250px;
  width: 250px;
  height: 250px;
  margin-top: 1px;
  background-color: #73ff00;
}
.infobox-quarter {
  margin-left: 2000px;
}
.infobox-half {
  margin-left: 4000px;
}
.infobox-close {
  margin-left: 600px;
}
.infobox-end{
  margin-left: 8000px;
}

.infobox-finish{
  margin-left: 9000px;
}

.sub-infobox {
  margin: 0 40px;
}
.sub-infobox .title {
  width: 430px;
}
.midtext-wrapper {
  display: flex;
  justify-content:space-around;
  position: sticky;
  margin-top: 130px;
  width: 70%;
}
.column-infobox .sub-infobox {
  margin-bottom: 20px;
}
.one-thousand {
  width: 1px;
  height: 1px;
  margin-top: 5px;
  background-color: #ff0000;
}
.median {
  width: 480px;
}
.median .wealth{
  width: 6.94px;
  height: 6.94px;
  background-color: #ff0080;
}
.million {
  width: 200px;
}
.million .wealth {
  width: 50px;
  height: 50px;
  background-color: #003bbb;
}
.billion .wealth {
  width: 5000px;
  height: 500px;
  background-color: #6a009b;
}

.musk .wealth {
    width: 500000px;
    height: 500px;
    background-color: rgb(0, 255, 242);
  }
.four-hundred .wealth {
  margin-left: 100px;
  width: 5920000px;
  height: 500px;
  background-color: #03A9F4;
}
.ruler {
  background-image: url('img/ruler.svg');
  background-repeat: repeat-x;
  background-position: 0 470px;
}
.shadow {
  box-shadow: -3px 5px 10px;
}
.counter {
  align-self: flex-end;
  left: 10px;
  position: sticky;
  transform: translate(0, 27px);
  color: black;
  padding: 5px;
  min-width: 140px;
}
.hsalaire .square {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 85);
  }

.fsalaire .square {
    width: 70px;
    height: 70px;
    background-color: rgb(238, 255, 0);
  }
  
  .healthcare .square {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 123, 0);
  }
  .tesla-year .square {
    width: 6px;
    height: 6px;
    background-color: rgb(255, 174, 0);
  }
.year-veteran .square {
  height: 400px;
  width: 1186px;
  margin-top: 5px;
  background-color: #649132;
}

.year-chemo {
  width: auto;
}
.year-chemo .square {
  width: 30000px;
  height: 400px;
  background-color: #ff004c;
  border: 5px dashed #ff35a4;
  box-sizing: border-box;
}
.year-chemo .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.year-chemo .key {
  top: 310px;
}
.year-chemo .key > span {
  background-color: #ff2aca;
}
.celebrities {
  display: flex;
  width: auto;
}
.kanye .square {
  width: 2000px;
  height: 350px;
  background-color: #000000;
}

.rihanna .square {
  width: 7000px;
  height: 350px;
  background-color: #00a2ff;
}

.madonna .square {
  width: 2755px;
  height: 350px;
  background-color: #7860ff;
}

.swift .square {
  width: 2700px;
  height: 350px;
  background-color: #9e2020;
}

.dion .square {
  width: 2400px;
  height: 350px;
  background-color: #8a8100;
}

.beyonce .square {
  width: 2200px;
  height: 350px;
  background-color: #777d84;
}

.goldman .square {
  width: 350px;
  height: 250px;
  background-color: #ffbb00;
}
.tim-cook .square {
  width: 9800px;
  height: 350px;
  background-color: #bcdcff;
}
.doctor .square {
  width: 140px;
  height: 140px;
  background-color: #0661b9;
}
.lawyer .square {
  width: 100px;
  height: 100px;
  background-color: #00478a;
}
.hedgefund .square {
  width: 680px;
  height: 300px;
  background-color: #7bffe9;
}
.garedemons .square {
  width: 320px;
  height: 300px;
  background-color: #d82929;
}
.monsgare .square {
  width: 1600px;
  height: 300px;
  background-color: #972a2a;
}
.messi .square {
  width: 2000px;
  height: 350px;
  background-color: #004170;
}
.federer .square {
  width: 2200px;
  height: 350px;
  background-color: #f8eaff;
}
.ronaldo .square {
  width: 2300px;
  height: 350px;
  background-color: #FFE500;
}
.staubach .square {
  width: 3000px;
  height: 350px;
  background-color: #0C264C;
}
.johnson .square {
  width: 3000px;
  height: 350px;
  background-color: #542583;
}
.mayweather .square {
  width: 4000px;
  height: 350px;
  background-color: #f1cd00;
}
.lebron .square {
  width: 5000px;
  height: 350px;
  background-color: #860038;
}
.woods .square {
  width: 5200px;
  height: 350px;
  background-color: #ff0000;
}
.jordan .square {
  width: 10000px;
  height: 350px;
  background-color: #BC032B;
}

.no-end .title {
  max-width: 390px;
}

.end-musk .title {
  max-width: 3900px;
}

.people-wrapper-outer h2 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin: 5px;
}

@media (max-width: 450px) {
  .piechart h2 {
    font-size: 17px;
  }
